
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Author style starts here */

/* extra resetting */
img{
	max-width: 100%;
	height:auto;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
	
	
	html, body{
	font-family: 'Raleway', arial, sans-serif;
	font-weight: 500;
		font-style: normal;
	font-style: normal;
	color: #2d2d2d;
	line-height: 1.5rem;
	}





	h1,h2,h3{
		font-size: 2.02rem;
	}
/* Page Container ---------------------------------*/	






/* start  here */




/* header area ------------------------------------*/
.site-header{
	background-color:white;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	flex-basis: 50%;
	align-items: center;
	width: 100%;
	max-width: 100%;
	
	
}


.logo{
	width: 120px;
	height: auto; 
	order: 1;


	
}


.shop{
	height: 50px;
	width: 50px;
	order: 2;
	margin-top: 25px;
	
	
}


.navegation{
	text-align: center;
	flex-basis: 100%;
	display: flex;
	order: 3;
	justify-content:center; 
	width: 90%;
	border-top: 1px solid grey;
}

.navegation ul {
	display: flex;
	align-items: center;
}

   
.navegation li {
	padding: 10px;
	margin: 0 10px;	}
 
	.navegation a{
	text-decoration: none;
	
	color: #e2574c

 }

 .ban{
	background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(girl.png) no-repeat center 60px,url(flower.jpg) repeat-x top;
    background-position: center auto, center;
    background-size: contain, auto 100%;
    height: 550px;
    padding: 200px;
    margin: 0px;
   
	padding: 200px 0; 
	width: 100%;
 }
 .select{
	 text-align: center;
	 color: white;

 }
 .hone{
	 font-size: 20px;
	 padding-bottom: 70px;
	 font-family: 'Raleway', sans-serif;
	 text-shadow: 2px 2px 4px #242424;
	
 }
 .htwo{
	font-family: 'playfair Display', Courier, monospace;
	font-size: 60px;
	text-shadow: 2px 2px 4px #242424;
 }

h1, h2, h3{
	font-family: 'Playfair Display', serif;
}

 h3{
	 font-size: 46px;
	 margin: 30px;
	 font-style: italic;
 }

 h3 span {
	 font-weight: bold;
	 font-style: normal;


 }
 .infoorma{
	 padding-top: 50px;
	 width: 500px;


 }

 .info{
	 margin-top: 4%;
	 display: flex;
	 margin-bottom: 3%;
	 flex-direction: column;
	 width: 100%;



 }
 .newsletter{
	 text-align: center;
 }

 .roberto {
	 font-size: 40px;
 }

 .wrapper{
	 max-width: 1240px;
	 margin: 0 auto;
	 text-align: center;
 }

 .selection {
	 display: flex;
	 flex-wrap:wrap; 
	 height: 100%;
	 width: 100%;
 }

 .selection div {
	 background-position: center;
	 background-size: cover;
	 height: 300px;
	 width: 100%;
 }





 .mens{
	 background-image: url(images/mens-category.jpg);
	 flex-basis: 100%;
	 justify-content: center;
	 border-bottom: 8px solid white;
	
 }
 .mens h4{
	 text-align: center;
	 position: relative;
	 top: 40%;
	 color: white;
 }


 .trend{
	 background-image: url(images/trends-category.jpg);
	 flex-basis: 50%;
	 justify-content: center;
	 border-right: 8px solid white;

 }
 .trend h4{
	 text-align: center;
	 position: relative;
	 top:40%;
	 color: white;
 }


 .glass{
	 background-image: url(images/glasses-category.jpg);
	 flex-basis: 50%;
	 justify-content: center;
	}

	.glass h4{ 
		text-align: center;
		position: relative;
		top: 40%;
		color: white;
	}

	
	
	
	.sale{
		flex-basis: 50%;
		background-image: url(images/sale-category.jpg);
		border-top: 8px solid white;
		border-right: 8px solid white;
 }

 .sale h4 {
	 text-align: center;
	 position: relative;
	 top: 40%; 
	color: white;

  }


 .bags{
	 flex-basis: 50%;
	 background-image: url(images/bags-category.jpg);
	 border-top: 8px solid white;
	 
 }
 .bags h4 {
	 text-align: center;
	 position: relative;
	 top: 40%;
	 text-decoration: none;
	 color: white;

 }
	 
 

 .womens{
	 flex-basis: 100%;
	 background-image:url(images/womens-category.jpg);
	 border-top: 8px solid white;
 }
 .womens h4 {
	 text-align: center;
	 position: relative;
	 top:40%;
	 color: white;
 }

.main-carousel{
	width:100%;
	/* height:450px; */
}

 .cell-carousel{
	 width: 360px;
	 text-align: center;
 }


 .text-align{
	 margin-top: 15px;
	 margin-bottom: 14px;
	 text-align: center;
 }
.product-t{
	 text-align: center;
	 width: 100%;
 }

 .newsletter{
	 background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/wave-bkgd.jpg);
	 background-size:auto;
	 background-repeat: no-repeat;
	 background-position: bottom;
	 height: 350px;
	 margin-top: 40px;
	 width: 100%;
	 
	}

	.newsletter h3{
	 font-size: 35px;
		margin-top: 10px;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		text-shadow: 2px 2px 4px #242424;
		letter-spacing: 3px;
	}
	.newsletter p{
		line-height: 2;
		max-width: 700px;
		margin: 0 auto;
		color: white;
		margin-top: 11px;
		padding-bottom: 40px;
		font-size: 18px;
	   font-family:'Raleway';

 }
 .topflick{
	 margin-bottom: 15px;
 }
 .sign-up{
	 width: 360px;
	 margin: 0 auto;
	 position: relative;
 }
#your-email{
	padding: 10px 20px;
	border-radius: 20px;
	width: 100%;
	
}
 .submitform{
	 background-color: #e2574c;
	 border-radius: 50px;
	 position: absolute;
	 right:0;
	 bottom: 1px;
	 padding: 10px 20px;
	 
	 
 }
 .site-footer{
	 background-color: #242424;
	 height: 300px;
 }
 .container-footer{
	 display: flex;
	 align-items: center;
	 flex-direction: column;
	 justify-content: center;
 }
 .container-first{
	 justify-content: flex-start;
	 align-items: center;
	 text-align: center;
	 color: white;
 }
 .container-second{
	 justify-content: flex-end;
	 text-align: center;
	 color: white;
	 flex-direction: row;
 }
 .container-footer a{
	 color: white;
 }
 .media-name{
	 font-size: 0;
 }
 .container-second a {
	 text-decoration: none;
 }
 .container-second ul{
	 display: flex;
	 padding-top: 50px;
 }

 
 @media only screen and (min-width: 600px) {
	 .container-first{
		 margin-left: 100px;
	 }
	.container-second {
		margin-right: 100px;
	}
	.site-header {
	  max-width:  1240px;
		margin-top: none;
		height: 80px;
		margin-bottom: 20px;
		
	}
	.ban{
		width: 100%;
	}
	.shop{
		border-bottom: 20px;
	}
	.navegation{
		border-top: none;
		position: relative;
		bottom: 60px;

	}
	.selection{
		flex-wrap: wrap;
		margin: 0;
	}
	.hfour{
		left: 50%;
	}

  .mens{
		flex-basis: 50%;
	display: flex;
	border-bottom: 0;
	}
	.trend{
		flex-basis: 25%;
		display: flex;
		border-left: 8px solid white;
	}
	.glass{
		flex-basis: 25%;
		display: flex;
	}

	.sale{ flex-basis: 25%;
		display: flex;

	}
	.bags{
		flex-basis: 25%;
		display: flex;
		border-right: 8px solid white;
	}
	.womens{
		flex-basis: 50%;
		display: flex;
	}


  
	/* .main-carousel.js-flickity div{
		width: 500px; 
		
	
	
	} */
	.cell-carousel {
		width: 50%;
	}
	.container-footer{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
	.container-second ul{
		display: unset;
	}
		

	.container-footer{
		max-width: 100%;
	}
	.media-name{
		font-size: 15px;
	}
	.container-first p{
		margin-top: 15px;
	}

	.container-second li{
		margin-top: 15px;
	}
		

}
  @media only screen and (min-width: 1240px) {
	.site-header {
	  width: 60%;
	  margin-top: 15px;
	  position: relative;
	  margin-left:25px;
	  padding: 0 ;
		left: 20%;
	}
	.cell-carousel{
		width: 25%;
	}
 }